# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Colonize/mods/
Colonize/logs/
Colonize/saves/
Colonize/crafttweaker_dump/
Colonize/screenshots/
Colonize/customnpcs/
Colonize/.mixin.out/
Colonize/config/jei/worldSettings.cfg
Colonize/minecraftinstance.json
Colonize/usercache.json
Colonize/config/jei/bookmarks.ini
Colonize/config/InvTweaks.cfg
